
{{!< default}}

<div id="waterfall">
{{#foreach posts}}
<div class="cell">
      <div class="img_holder">
        <img src="{{image}}" class="post_img"  alt="" />  
      </div>
      <h2 class="post-list__post-title post-title"><a href="{{url}}" title="link to {{{title}}}">{{{title}}}</a></h2>
      <p class="post-list__main_meta">
           <span datetime="{{date format="YYYY MMM DD"}}" class="post-list__meta--date date">{{date format="YYYY MMM DD"}}
           </span>
          
          {{#if tags}}
          <span class="post-list__meta--tags tags" data-info="goto-tag">
              <i class="fa fa-tag fa-1x"> </i> {{tags}}
          </span>
          {{/if}}
      </p>
     
      <p class="excerpt">{{excerpt characters="60"}}&hellip;</p>
      <div class="remark-holder">
         <textarea class="remark-input" placeholder="写点啥呗～"></textarea>
          <div class="opreations">
                <a href="javascript:void(0);" data-info="colse-remark"><i class="fa fa-close fa-1x"></i> 取消</a>
                <a href="javascript:void(0);" data-info="submit-remark"><i class="fa fa-check fa-1x"></i> 确定</a>
          </div>  
      </div>
      <div class="post-list__meta">
          <a class="thumbs" data-info="thumbs" href="javascript:void(0);" ><i class="fa fa-thumbs-up fa-1x"></i> 点赞</a>
          <!-- <a class="remark" data-info="post-remark" href="{{url}}" ><i class="fa fa-comment fa-1x"></i> 评论</a> -->
          <a class="read-more-meta" data-info="goto-post" href="{{url}}" ><i class="fa fa-align-center fa-1x"></i> 继续全文</a>
      </div>
</div>
{{/foreach}}
</div>
{{pagination}}