{{!< default}}

<div id="markflagstart"></div>
<!-- videojs html5视频插件 -->
<link href="{{asset "css/video-js.min.css"}}" rel="stylesheet">
<script src="{{asset "js/videojs-ie8.min.js"}}"></script>
<script src="{{asset "js/video.min.js"}}"></script>
{{#post}}

  <article class="post-container post-container--single">

    <header class="post-header">
     
      <h1 class="post-title">{{{title}}}</h1>
       <div class="post-meta">
        <span datetime="{{date format="DD MMM YYYY"}}" class="post-meta__date date">{{date format="DD MMM YYYY"}}</span>  
        {{#if tags}}
          <span class="post-list__meta--tags tags">
              <i class="fa fa-tag fa-1x"> </i> {{tags}} 
          </span>
          {{/if}}
        <!-- <span class="post-meta__author author"><img src="{{author.image}}" alt="profile image for {{author.name}}" class="avatar post-meta__avatar" /> by {{author.name}}</span> -->
      </div>
    </header> 

    <section class="{{post_class}}">
      {{content}}
    </section>

  </article>
  
  {{> read-more}}
  <!--You can  remove note tag  if you repalce the disqus_shortname in comments.hbs  -->
  <!-- {{> comments}} -->

{{/post}}
<div id="markflagend"></div>